form {
  margin: 90px;
}

.input-area.movie {
  height: 36px;
  padding: 0px 200px 0px 10px;
}

.search-btn {
  height: 36px;
  padding: 0 10px;
  background-color: rgb(10, 9, 9);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}