header {
  height: 60px;
  display: flex;
  background-color: rgb(10, 9, 9);
  color: #fff;
}

.title-wrapper {
  width: 100%;
}

h1 {
  margin: 0;
  line-height: 60px;
  font-family: 'Corben', cursive;
}